.navbarWrapper{
    width: 100%;
    margin: 0 auto;
    background-color: #131921;
    .navBar{
        padding: 0.7rem 1.5rem; 
        .logo{
            img{
                background-color: white;
            }
        }
    }
}